<!doctype html>
<!--[if lt IE 9]><html class="oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en"><!--<![endif]-->
<head>

    <!-- Metadata -->
    <meta charset="utf-8">
    <title>Universal Remote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <!-- Icons -->
    <meta name="msapplication-TileImage" content="/win8-tile-144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-152.png">
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/style.css">

</head>

<body>

    <div class="wrapper">
        HELLO THERE {{ app.request.clientIp }}!
    </div>

    <!-- jQuery -->
    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    -->

</body>

</html>
