@charset "UTF-8";

@import "utility"; // Mixins
@import "grid"; // Grid framework (optional)


// RESET

@import "reset";


// MAIN STYLES

html {
    // Fix issues with ems in IE
    font-size: 100%;

    // Stop browser from zooming on device orientation change
    @include vendorize(text-size-adjust, 100%, webkit ms);

    // Uncomment to fix webkit font rendering on dark sites
    // -webkit-font-smoothing: antialiased;

    // Fix Mac OS X Firefox font rendering
    -moz-osx-font-smoothing: grayscale;
}

body {
    @include group;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: blue;

    &:visited {
        color: blue;
    }

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        // Outline while focused for keyboard users
        outline: thin dotted;
    }

    &:hover, &:active {
        // No outline if hovered or active while focused
        outline: none;
    }
}

img {
    // Stop IE6-9, FF3 from placing border around img in links
    border: 0;

    // Fix downsampled images in older IEs
    -ms-interpolation-mode: bicubic;
}

hr {
    border: 0;
    // Add height and border below if necessary
    display: none;
}

::selection {
    text-shadow: none;
    // Customize selection colors
    background: dimgray;
    color: white;
}

::-moz-selection {
    text-shadow: none;
    // Customize selection colors
    background: dimgray;
    color: white;
}

ul,
ol {
    list-style-position: inside;
}

b,
strong {
    font-weight: bold;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monotype;
}

code {
    font-family: monotype;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img,
embed,
object,
video {
    max-width: 100%;
}

textarea {
    // Stops users from breaking layout by horizontally expanding textareas in webkit
    resize: vertical;
}


// PAGE STYLES

.item {
  width: 40%;
  margin: 5%;
  float: left;
  text-align: center;
}

.item a {
  display: inline-block;
  padding: 50%;
  font-weight: bold;
  color: #ccc;
  background: #222;
}

.item a:hover {
  color: white;
  background: #333;
}


// RESPONSIVE BREAKPOINTS

// Example breakpoints: 320px/20em, 480px/30em, 600px/37.5em, 768px/48em, 1024px/64em, 1200px/75em

// @media screen and (min-width: 48em) {}


// RETINA OVERRIDES

// @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {}
